* {
  margin: 0px;
  padding: 0;
  font-family: "poppins";}
.menubar {
  background-color: black;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  justify-content: space-between;
}
.menubar ul {
  list-style: none;
  display: flex;
}
.menubar ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.menubar ul li {
  padding: 10px 10px;
  position: relative;
}
.menubar ul li a:hover {
  color: orange;
}
.dropdown {
  display: none;
}

.menu_item:hover .dropdown {
  display: block;
  position: absolute;
  background-color: black;
  left: 0;
  top: 100%;
}
.dropdown ul {
  display: block;
  margin: 10px;
}
.container {
  width: 100%;
  height: 700px;
  background-image: url(../images/banner-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.innerbox {
  width: 90%;
  height: 700px;
  /* background-color: red; */
  margin: auto;
}
.textbox {
  width: 70%;
  height: 600px;
  /* background-color: blueviolet; */

  margin: auto;
  position: relative;
}
.text {
  position: absolute;
  top: 110px;
}
.text h1 {
  /* position: absolute; */
  font-size: 70px;
  top: 80px;
  font-weight: 400;
}
.text h3 {
  color: white;
  /* position: absolute; */
  top: 180px;
  font-size: 90px;
}
.text p {
  /* position: absolute; */
  top: 270px;
  color: white;
  font-size: 20px;
}
.b1 {
  width: 150px;
  height: 50px;
  background-color: rgb(8, 7, 7);
  color: white;
  top: 340px;
  /* position: absolute; */
}
.button {
  /* text-align: center; */
  width: 100%;
  padding-left: 500px;
}
.left,
.right {
  width: 40px;
  height: 40px;
  background-color: white;
  border: white;
}
.arrow {
  padding: 3px;
}
.about_img {
  /* background-color: aqua; */
  width: 100%;
  height: 700px;
  position: relative;
}
.about_container {
  width: 80%;
  height: 600px;
  margin: auto;
  position: absolute;
  top: 50px;
  left: 200px;
}
.about_text {
  width: 50%;
  height: 600px;
  float: left;
}
.abouttext {
  padding-top: 180px;
}
.abouttext h1 {
  color: rgb(231, 122, 5);
  font-size: 40px;
  font-weight: 600;
}
.abouttext p {
  font-weight: 300;
}
.readmore_bt {
  width: 180px;
  height: 50px;
  background-color: black;
  color: white;
  font-size: 18px;
}
.about_image {
  width: 50%;
  height: 600px;
  float: right;
}
.img_space {
  width: 100%;
  height: 600px;
}
.img_space img {
  width: 600px;
}
.gallery_container {
  width: 100%;
  height: 1700px;
}
.gallery_header {
  width: 80%;
  height: 200px;
  background-color: antiquewhite;
  margin: auto;
}
.gallery_header h1 {
  color: rgb(250, 91, 5);
  text-align: center;
  padding-top: 40px;
}
.gallery_header p {
  text-align: center;
  width: 75%;
  padding-left: 170px;
}
.gallery_sec1,.gallery_sec2,.gallery_sec3 {
  width: 80%;
  height: 400px;
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-top: 30px;
}
.row1 {
  width: 30%;
  height: 400px;
}
.row2 {
  width: 30%; 
  height: 400px;
}
.row3 {
  width: 30%;
  height: 400px;
}

.row1,.row2,.row3{
  position: relative;
}

.gallery_img{
  width: 100%;
  height: 100%
}

.search1 img{
  position: absolute;
  top: 28%;
  left: 40%;
  opacity: 0;
  width: 150px;
}

.row1:hover{
  opacity: 0.5;
}

.row1:hover .search1 img{
  opacity: 1;
}
.row2:hover{
  opacity: 0.5;
}

.row2:hover .search1 img{
  opacity: 1;
}
.row3:hover{
  opacity: 0.5;
}

.row3:hover .search1 img{
  opacity: 1;
}
.seemore{
  background-color: black;
  color: white;
  width: 150px;
  height: auto;
  padding: 10px;
  margin-top: 60px;
  position: absolute;
  left: 900px;
}

@media only screen and (max-width: 425px) {
  .menubar ul {
    display: none;
  }
  
}

