* {
  margin: 0px;
  padding: 0;
  font-family: "poppins", sans-serif;
}
.menubar {
  background-color: black;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  justify-content: space-between;
}
.menubar ul {
  list-style: none;
  display: flex;
}
.menubar ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.menubar ul li {
  padding: 10px 10px;
  position: relative;
}
.menubar ul li a:hover {
  color: orange;
}
.dropdown {
  display: none;
}

.menu_item:hover .dropdown {
  display: block;
  position: absolute;
  background-color: black;
  left: 0;
  top: 100%;
}
.dropdown ul {
  display: block;
  margin: 10px;
}
.container {
  width: 100%;
  height: 700px;
  background-image: url(./images/banner-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.innerbox {
  width: 90%;
  height: 700px;
  /* background-color: red; */
  margin: auto;
}
.textbox {
  width: 70%;
  height: 600px;
  /* background-color: blueviolet; */

  margin: auto;
  position: relative;
}
.text {
  position: absolute;
  top: 110px;
}
.text h1 {
  /* position: absolute; */
  font-size: 70px;
  top: 80px;
  font-weight: 400;
}
.text h3 {
  color: white;
  /* position: absolute; */
  top: 180px;
  font-size: 90px;
}
.text p {
  /* position: absolute; */
  top: 270px;
  color: white;
  font-size: 20px;
}
.b1 {
  width: 150px;
  height: 50px;
  background-color: rgb(8, 7, 7);
  color: white;
  top: 340px;
  /* position: absolute; */
}
.button {
  /* text-align: center; */
  width: 100%;
  padding-left: 500px;
}
.left,
.right {
  width: 40px;
  height: 40px;
  background-color: white;
  border: white;
}
.arrow {
  padding: 3px;
}
.about_img {
  /* background-color: aqua; */
  width: 100%;
  height: 700px;
  position: relative;
}
.about_container {
  width: 80%;
  height: 600px;
  margin: auto;
  position: absolute;
  top: 50px;
  left: 200px;
}
.about_text {
  width: 50%;
  height: 600px;
  float: left;
}
.ptag p {
  width: 560px;
}
.ptag2 p {
  width: 560px;
}
.abouttext {
  padding-top: 180px;
}
.htag {
  color: rgb(231, 122, 5);
  font-size: 40px;
  font-weight: 600;
}
.ptag,
.ptag2 {
  font-weight: 300;
}
.readmore_bt1 {
  width: 180px;
  height: 50px;
  background-color: black;
  color: white;
  font-size: 18px;
}
.about_image {
  width: 50%;
  height: 600px;
  float: right;
}
.img_space {
  width: 100%;
  height: 600px;
}
.img_space img {
  width: 600px;
}
.gallery_container {
  width: 100%;
  height: 1700px;
}
.gallery_header {
  width: 80%;
  height: 200px;
  /* background-color: antiquewhite; */
  margin: auto;
}
.gallery_header h1 {
  color: rgb(250, 91, 5);
  text-align: center;
  padding-top: 40px;
}
.gallery_p {
  text-align: center;
  width: 75%;
  padding-left: 200px;
}
.gallery_sec1,
.gallery_sec2,
.gallery_sec3 {
  width: 80%;
  height: 400px;
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-top: 30px;
}
.row1 {
  width: 30%;
  height: 400px;
}
.row2 {
  width: 30%;
  height: 400px;
}
.row3 {
  width: 30%;
  height: 400px;
}

.row1,
.row2,
.row3 {
  position: relative;
}

.gallery_img {
  width: 100%;
  height: 100%;
}

.search1 img {
  position: absolute;
  top: 28%;
  left: 40%;
  opacity: 0;
  width: 150px;
}

.row1:hover {
  opacity: 0.5;
}

.row1:hover .search1 img {
  opacity: 1;
}
.row2:hover {
  opacity: 0.5;
}

.row2:hover .search1 img {
  opacity: 1;
}
.row3:hover {
  opacity: 0.5;
}
.row3:hover .search1 img {
  opacity: 1;
}
.seemore {
  background-color: black;
  color: white;
  width: 150px;
  height: auto;
  padding: 10px;
  margin-top: 60px;
  position: absolute;
  left: 900px;
}
.service_section {
  width: 100%;
  height: 500px;
  background-image: url(./images/services-bg.png);
  background-attachment: fixed;
  padding-bottom: 100px;
}
.service_container {
  width: 90%;
  height: 100px;
  padding-top: 100px;
  /* background-color: blue; */
  margin: auto;
}
.service_row {
  width: 80%;
  height: 80px;
  /* background-color: brown; */
  margin: auto;
  color: white;
}
.head h1 {
  text-align: center;
}
.head p {
  text-align: center;
  padding-top: 10px;
}
.service_row2 {
  /* background-color: coral; */
  width: 90%;
  height: 450px;
  margin: auto;
}
.row_container2 {
  /* background-color: aqua; */
  width: 90%;
  height: 350px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.service_img {
  width: 30%;
  height: 300px;
  /* background-color: deeppink; */
  float: left;
}
.service_img2 {
  width: 30%;
  height: 300px;
  /* background-color: deeppink; */
  float: left;
}
.service_img3 {
  width: 30%;
  height: 300px;
  /* background-color: deeppink; */
  float: left;
}
.img_row1 {
  width: 80%;
  height: 300px;
  background-color: #ff6200;
  margin: auto;
}
.img_row2 {
  width: 80%;
  height: 300px;
  background-color: #ff6200;
  margin: auto;
}
.img_row3 {
  width: 80%;
  height: 300px;
  background-color: #ff6200;
  margin: auto;
}
.img_row1 img {
  width: 50px;
  margin-left: 40%;
  margin-top: 40px;
}
.img_row1 h1 {
  font-size: 28px;
  color: #ffffff;
  padding-top: 30px;
  text-align: center;
  font-weight: 400;
}
.img_row1 p {
  font-size: 14px;
  color: #ffffff;
  margin: 0px;
  padding-top: 15px;
  width: 300px;
  margin: auto;
  text-align: center;
}
.readmore_bt {
  width: 100px;
  height: 30px;
  margin: 21px auto;
  display: flex;
  display: none;
}
.service_img:hover .img_row1 {
  background-color: white;
}
.service_img:hover .img_row1 h1 {
  color: #000;
}

.service_img:hover .img_row1 p {
  color: #000;
}
.service_img2:hover .img_row1 {
  background-color: white;
}
.service_img2:hover .img_row1 h1 {
  color: #000;
}

.service_img2:hover .img_row1 p {
  color: #000;
}
.service_img3:hover .img_row1 {
  background-color: white;
}
.service_img3:hover .img_row1 h1 {
  color: #000;
}

.service_img3:hover .img_row1 p {
  color: #000;
}

.service_img:hover .readmore_bt {
  display: block;
}

.service_img2:hover .readmore_bt {
  display: block;
}

.service_img3:hover .readmore_bt {
  display: block;
}

.box_main:hover .readmore_bt a {
  color: #ffffff;
  background-color: #000;
}

.client_layout {
  width: 100%;
  height: 800px;
  /* background-color: red; */
}
.client_container {
  width: 90%;
  height: 170px;
  /* background-color: blue; */
  margin: auto;
}
.client_row {
  width: 85%;
  height: 170px;
  /* background-color: aqua; */
  margin: auto;
}
.client_col {
  width: 85%;
  height: 170px;
  /* background-color: chartreuse; */
}
.client_col h1 {
  font-size: 40px;
  color: #ff6200;
  font-weight: bold;
}
.client_col p {
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  padding-top: 20px;
}

.client_innerbox {
  width: 90%;
  height: 500px;
  /* background-color: darkgoldenrod; */
  margin: auto;
}
.client_section2 {
  width: 90%;
  height: 400px;
  /* background-color: rgb(16, 219, 107); */
  margin: auto;
}
.section2_container {
  width: 95%;
  height: 300px;
  /* background-color: rgb(229, 15, 165); */
  margin: auto;
}
.section2_row {
  width: 90%;
  height: 300px;
  /* background-color: darkgoldenrod; */
}
.client_textbox {
  width: 100%;
  height: 200px;
  /* background-color: rgb(232, 14, 14); */
  position: relative;
}
.client_textbox h1 {
  width: 15%;
  padding-left: 100px;
  color: #ff6200;
}
.client_textbox span {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  left: 300px;
}
.client_textbox p {
  width: 80%;
  float: left;
  color: #252525;
  margin: 0px;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 60px;
  line-height: 25px;
}
.contact_padding {
  width: 100%;
  height: 100px;
  background-color: white;
}
.contact_section {
  width: 90%;
  height: 100px;
  /* background-color: aquamarine; */
}
.contact_section h1 {
  color: #ff6200;
  text-align: center;
  font-size: 50px;
  margin-top: 50px;
}
.contact_section2 {
  width: 100%;
  height: 700px;
  /* background-color: aqua; */
  margin-top: 90px;
}
.contact_section2_innercontainer {
  width: 100%;
  height: 700px;
  /* background-color: blueviolet; */
}
.contact_row {
  width: 100%;
  height: 700px;
  /* background-color: chartreuse; */
}
.contact_colm1 {
  width: 50%;
  height: 700px;
  /* background-color: darkmagenta; */
  float: left;
}
.carousel-indicators {
  display: flex;
}
.carousel-indicators li {
  position: relative;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 55px;
  height: 18px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  background-color: #252525;
  border-radius: 20px;
  list-style-type: none;
}
.carousel {
  position: relative;
  padding-left: 600px;
}

.testimonial_section_2::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 150px;
  border-top: 3px solid #252525;
  border-left: 3px solid #252525;
  top: 12px;
  left: 0px;
  right: initial;
}
.testimonial_section_2::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 150px;
  border-bottom: 3px solid #252525;
  border-right: 3px solid #252525;
  top: 12px;
  left: initial;
  right: 0px;
}

.carousel-indicators {
  bottom: 0px;
}

.carousel-indicators .active {
  background-color: #f76d37;
}
.map-responsive {
  width: 100%;
  margin: auto;
  height: 700px;
}
.map-responsive iframe {
  width: 100px;
  height: 700px;
}

.mailbox {
  width: 85%;
  height: 650px;
  float: left;
  background-image: url(./images/img-9.png);
  padding: 23px 70px;
  background-repeat: no-repeat;
  background-size: cover;
}
.mailtext {
  /* background-color: blue; */
  width: 100%;
  height: 500px;
  float: left;
  margin-top: 20px;
}
.formbox {
  margin-bottom: 20px;
}
.contact_colm2 {
  width: 50%;
  height: 700px;
  background-color: darkorange;
  float: right;
}
.mail_text {
  color: black;
  width: 90%;
  height: 55px;
  font-size: 20px;
  padding: 20px 40px;
  border: 0px;
  border-radius: 30px;
}
.msg_text {
  color: black;
  width: 90%;
  height: 80px;
  font-size: 20px;
  padding: 40px;
  border: 0px;
  border-radius: 50px;
}
.send_bt {
  width: 100%;
  height: 100px;
  text-align: center;
  /* background-color: #9713a9; */
  position: relative;
  padding-top: 30px;
}
.bt_text {
  width: 180px;
  height: 60px;
  background-color: #ff6200;
  text-align: center;
  position: absolute;
  left: 300px;
  border-radius: 30px;
}
.bt_text h3 {
  text-decoration: none;
  margin-top: 20px;
  color: white;
}
.send_bt:hover .bt_text {
  background-color: white;
  color: black;
}
.footer_layout {
  width: 100%;
  height: 400px;
  /* background-color: rgb(255, 0, 208); */
}
.footer_section {
  width: 90%;
  height: 400px;
  background-color: #252525;
  margin: auto;
  position: relative;
}
.footer_container {
  width: 90%;
  height: 200px;
  /* background-color: #ff6200; */
  margin: auto;
  position: absolute;
  top: 100px;
  left: 100px;
}
.footer_row {
  display: flex;
  width: 70%;
  height: 200px;
  /* background-color: aqua; */
  margin: auto;
  justify-content: space-around;
}
.fbox1,
.fbox2,
.fbox3,
.fbox4 {
  width: 25%;
  height: 190px;
}
.useful_text {
  width: 100%;
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 15px;
  font-weight: bold;
}

.footer_text {
  width: 60%;
  float: left;
  font-size: 14px;
  color: #ffffff;
  margin: 0px;
}

.footer_menu {
  width: 100%;
  float: left;
}
.footer_menu a {
  text-decoration: none;
}
.fbox4 a {
  text-decoration: none;
}
.fbox4 li {
  list-style: none;
}

.footer_menu ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}

.footer_menu li {
  font-size: 14px;
  color: #ffffff;
}

.footer_menu li a {
  color: #ffffff;
}

.footer_menu li a:hover {
  color: #f76d37;
}

.dummy_text {
  width: 30%;
  float: left;
  font-size: 14px;
  color: #ffffff;
  margin: 0px;
}

.location_text {
  width: 100%;
  float: left;
}

.location_text ul {
  margin: 0px;
  padding: 0px;
}

.location_text li {
  font-size: 14px;
  color: #ffffff;
  padding: 0px 0px 5px 0px;
}

.location_text li a {
  color: #ffffff;
}

.location_text li a:hover {
  color: #f76d37;
}

.padding_left_10 {
  padding-left: 10px;
}

@media only screen and (max-width: 425px) {
  .menubar ul {
    display: none;
  }
  .container {
    max-width: 425px;
    height: 496px;
    background-size: 425px 496px;
  }
  .menubar {
    width: 425px;
    height: 80px;
  }
  .innerbox {
    width: 425px;
    height: 496px;
  }
  .textbox {
    width: 425px;
    height: 496px;
    margin: 0;
  }
  .text h1 {
    width: 395px;
    height: 46px;
    font-size: 30px;
    margin: 10px;
  }
  .text h3 {
    width: 395px;
    height: 46px;
    font-size: 45px;
    margin: -70px 10px;
  }
  .text p {
    width: 395px;
    height: 46px;
    font-size: 14px;
    margin: 10px;
    padding-top: 35px;
  }
  .button {
    height: 36px;
    font-size: 30px;
    margin: 10px;
    margin-right: 0px;
    padding-left: 0px;
  }
  .about_img {
    width: 425px;
    height: 915px;
  }
  .about_container {
    width: 425px;
    height: 800px;
    position: unset;
  }
  .abouttext {
    padding-top: 20px;
  }
  .about_text {
    width: 425px;
    height: 400px;
    padding-top: 90px;
  }
  .htag {
    font-size: 20px;
    height: 80px;
    margin-left: 20px;
    width: 202px;
  }
  .ptag p,
  .ptag2 p {
    width: 405px;
    font-size: 15px;
    margin-left: 20px;
    font-weight: 200;
  }
  .ptag2 {
    padding-top: 20px;
  }
  .about_image {
    width: 425px;
    height: 425px;
    margin-left: 20px;
  }
  .img_space {
    width: 425px;
    height: 425px;
  }
  .img_space img {
    width: 100%;
  }
  .readmore_bt1 {
    margin-left: 20px;
  }
  .gallery_container {
    height: 4500px;
  }
  .gallery_sec1,
  .gallery_sec2,
  .gallery_sec3 {
    width: 395px;
    height: 1376px;
    display: block;
    margin-top: 10px;
  }
  .row1,
  .row2,
  .row3 {
    width: 400px;
    height: 420px;
    margin-top: 20px;
  }
  .gallery_header {
    height: 100px;
  }
  .gallery_header h1 {
    padding-top: 15px;
  }
  .gallery_p {
    width: 417px;
    height: 115px;
    padding: 0;
    font-size: 15px;
    font-weight: 200;
  }
  .seemore {
    position: unset;
    margin-top: 0px;
    margin-left: 135px;
  }
  .service_section {
    height: 1200px;
  }
  .service_row2 {
    height: 1000px;
    margin: 0px;
    margin-top: 35px;
  }
  .row_container2 {
    display: block;
    margin: 0px;
  }
  .service_img,
  .service_img2,
  .service_img3 {
    width: 425px;
    height: 300px;
    margin-top: 20px;
  }
  .client_layout {
    padding-top: 100px;
  }
  .client_innerbox {
    height: 400px;
    width: 400px;
  }
  .client_textbox {
    height: 280px;
    width: 400px;
  }
  .client_section2 {
    margin: 0px;
  }
  .carousel {
    padding: 100px;
    bottom: 60px;
  }
  .client_textbox h1 {
    padding: 0px;
  }
  .client_textbox p {
    padding-left: 0px;
    width: 395px;
    height: 216px;
    font-size: 14px;
  }
  .client_textbox span {
    padding: 0;
    left: 180px;
  }
  .contact_section2 {
    margin-top: 50px;
    height: 1500px;
  }
  .contact_row {
    height: 1500px;
  }
  .contact_colm1 {
    float: none;
    width: 425px;
    height: 745px;
  }
  .contact_colm2 {
    float: none;
    width: 425px;
    height: 695px;
  }
  .mailbox {
    width: 425px;
    height: 745px;
    padding: 0px;
  }
  .contact_section2_innercontainer {
    height: 1500px;
  }
  .mailtext {
    width: 340px;
    height: 440px;
  }
  .mail_text {
    height: 14px;
  }
  .bt_text {
    left: 112px;
  }
  .footer_section {
    height: 600px;
    width: 425px;
  }
  .footer_container {
    height: 600px;
    left: 0px;
    width: 425px;
  }
  .footer_row {
    display: block;
    margin-left: 10px;
  }
  .fbox1,
  .fbox2 {
    height: 150px;
    width: 425px;
  }
  .footer_text {
    width: 395px;
    height: 72px;
  }
  .fbox3 {
    margin-top: 45px;
    width: 425px;
  }
  .dummy_text {
    width: 110px;
    height: 110px;
  }
  .location_text li {
    width: 425px;
  }
}
